<%layout("layouts/boilerplate") %>
<body>
    <h3>All Listings</h3>
<form method="get" action="/listings/new">
    <button>create a New Listing</button>
</form>
<ul>
<%for(listings of allListings) {%>

<li><a href="/listings/<%=listings._id%>"><%=listings.title %></a></li>

    <% }%>


    </ul>
</body>

 





